aiofiles==23.1.0
aiohttp==3.8.6
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
boto3==1.29.5
botocore==1.32.5
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
discord==2.3.2
discord.py==2.2.3
distro==1.8.0
EasyProcess==1.1
entrypoint2==1.1
exceptiongroup==1.1.3
fastapi==0.95.0
frozenlist==1.4.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
inflection==0.5.1
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
loguru==0.7.0
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
openai==0.28.0
openapi==1.1.0
Pillow==10.1.0
psycopg2-binary==2.9.9
PyAutoGUI==0.9.54
pydantic==1.10.13
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Quartz==10.0
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytweening==1.0.7
referencing==0.31.0
requests==2.31.0
rpds-py==0.13.1
rubicon-objc==0.4.7
s3transfer==0.7.0
six==1.16.0
sniffio==1.3.0
starlette==0.26.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.22.0
yarl==1.9.2
